__pycache__/*
__pycache__/sal_ui.cpython-39.pyc
__pycache__/sal.cpython-39.pyc
__pycache__/sal_ui.cpython-39.pyc
__pycache__/sal.cpython-39.pyc
dragtestfile.py
__pycache__/sal.cpython-39.pyc
__pycache__/sal_ui.cpython-39.pyc
__pycache__/sal.cpython-39.pyc
__pycache__/sal_ui.cpython-39.pyc
__pycache__/sal.cpython-39.pyc
__pycache__/sal.cpython-39.pyc
__pycache__/sal.cpython-39.pyc
__pycache__/sal.cpython-39.pyc
